body {
    color: palevioletred;
}

.navbar { 
    padding: 1rem;
    background-color: pink;
}

.bg-secondary {
    color: plum;
}

.btn-primary:hover {
    background-color: purple;
    color: white;
}

nav a:hover {
    color: white;
}

.hero-background-img {
    position: relative;
    background-image: url(images/codportrait.jpeg);
    padding-top: 200px;  
    padding-bottom: 200px;
}

.hero-background-img:after {
    content: "";
    position: absolute;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 1; 
}
